<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.user.name')%>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.target') %>:</strong>
  <%= @user.target %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.generation') %>:</strong>
  <%= @user.generation %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.note')%>:</strong>
  <%= @user.note %>
</p>

<div class = "text-secondary" >
  <%= link_to t('common.edit'), edit_user_path(@user), class: "text-secondary" %> |
  <%= link_to t('common.back'), users_path, class: "text-secondary" %>
</div>